GITHUB_CLIENT_ID=Ov23lipi10sNVRUobWK2
GITHUB_CLIENT_SECRET=534cbfe4eeb8e09d3fdbc64672739414d205bc39
FRONTEND_URL=https://recruiterlens-green.vercel.app
SESSION_SECRET=pragya-recruiterlens-secret-key-2026
